<div class="alert alert-success">
    <?php echo t('Deze uitzondering is succesvol verwijderd.'); ?>
</div>
<a class="btn" href="<?php echo $this->action('reserveringen', $bID); ?>"><i class="icon-chevron-left"></i> Terug</a>
