<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#reserveringen" aria-controls="reserveringen" role="tab" data-toggle="tab">
                <?php echo t('Reserveringen'); ?>
            </a>
        </li>
        <li role="presentation">
            <a href="#annuleringen" aria-controls="annuleringen" role="tab" data-toggle="tab">
                <?php echo t('Annuleringen'); ?>
            </a>
        </li>
        <li role="presentation">
            <a href="#uitzonderingen" aria-controls="uitzonderingen" role="tab" data-toggle="tab">
                <?php echo t('Uitzonderingen'); ?>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in fade" id="reserveringen">
            <p>
                <a class="btn" href="<?php echo $this->action('addBooking', $bID); ?>"><i class="icon-plus"></i> Reservering toevoegen</a>
            </p>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <?php echo t('Door'); ?>
                        </th>
                        <th>
                            <?php echo t('Begin'); ?>
                        </th>
                        <th>
                            <?php echo t('Eind'); ?>
                        </th>
                        <th>
                            <?php echo t('Kosten'); ?>
                        </th>
                        <th>
                            <?php echo t('Opmerkingen'); ?>
                        </th>
                        <th>
                            <?php echo t('Personen'); ?>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
foreach ($aBookings as $aBooking) {
            ?>
                        <tr>
                            <td>
                                <?php echo $aBooking['user']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['start']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['end']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['credits']; ?>
                            </td>
                            <td style="width: 50%">
                                <?php echo $aBooking['notes']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['persons']; ?>
                            </td>
                            <td>
                                <a href="<?php echo $this->action('editBooking', $aBooking['entryID']); ?>"><i class="icon-pencil"></i></a>
                                <a class="cottage_booker__dashboard__button--delete-booking" href="<?php echo $this->action('cancelBooking', $aBooking['entryID']); ?>"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        <?php
}
    ?>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="annuleringen">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <?php echo t('Door'); ?>
                        </th>
                        <th>
                            <?php echo t('Begin'); ?>
                        </th>
                        <th>
                            <?php echo t('Eind'); ?>
                        </th>
                        <th>
                            <?php echo t('Kosten'); ?>
                        </th>
                        <th>
                            <?php echo t('Opmerkingen'); ?>
                        </th>
                        <th>
                            <?php echo t('Personen'); ?>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
foreach ($aCancelled as $aBooking) {
        ?>
                        <tr>
                            <td>
                                <?php echo $aBooking['user']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['start']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['end']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['credits']; ?>
                            </td>
                            <td style="width: 50%">
                                <?php echo $aBooking['notes']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['persons']; ?>
                            </td>
                            <td>
                                <a class="cottage_booker__dashboard__button--delete-cancellation" href="<?php echo $this->action('removeCancellation', $aBooking['entryID']); ?>"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        <?php
}
    ?>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="uitzonderingen">
            <p>
                <a class="btn" href="<?php echo $this->action('addException', $bID); ?>"><i class="icon-plus"></i> Uitzondering toevoegen</a>
            </p>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <?php echo t('Door'); ?>
                        </th>
                        <th>
                            <?php echo t('Begin'); ?>
                        </th>
                        <th>
                            <?php echo t('Eind'); ?>
                        </th>
                        <th>
                            <?php echo t('Kosten per dag'); ?>
                        </th>
                        <th>
                            <?php echo t('Alleen week boeken'); ?>
                        </th>
                        <th>
                            <?php echo t('Maximum aantal dagen'); ?>
                        </th>
                        <th>
                            <?php echo t('Opmerkingen'); ?>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <?php
foreach ($aExceptions as $aBooking) {
        ?>
                        <tr>
                            <td>
                                <?php echo $aBooking['user']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['start']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['end']; ?>
                            </td>
                            <td>
                                <?php echo $aBooking['credits']; ?>
                            </td>
                            <td>
                                <?php echo (($aBooking['bookOnlyWeeks'] == 1) ? 'Ja' : 'Nee'); ?>
                            </td>
                            <td>
                                <?php echo $aBooking['maxNumberOfDays']; ?>
                            </td>
                            <td style="width: 30%">
                                <?php echo $aBooking['notes']; ?>
                            </td>
                            <td>
                                <a href="<?php echo $this->action('editException', $aBooking['entryID']); ?>"><i class="icon-pencil"></i></a>
                                <a class="cottage_booker__dashboard__button--delete-exception" href="<?php echo $this->action('deleteException', $aBooking['entryID']); ?>"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        <?php
}
    ?>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="cottage_booker__dashboard__confirm__delete--booking hide">
    <p>
        <?php echo t('Weet je zeker dat je deze reservering wilt annuleren?'); ?>
    </p>
</div>
<div class="cottage_booker__dashboard__confirm__delete--cancellation hide">
    <p>
        <?php echo t('Weet je zeker dat je deze annulering wilt verwijderen?'); ?>
    </p>
    <p>
        <?php echo t('Deze gebruiker kan dan weer reserveren in deze periode.'); ?>
    </p>
</div>
<div class="cottage_booker__dashboard__confirm__delete--exception hide">
    <p>
        <?php echo t('Weet je zeker dat je deze uitzondering wilt verwijderen?'); ?>
    </p>
</div>
<?php
