<div class="ccm-ui cottage_booker">
    <div class="alert-message block-message info">
        {{ t("Instellingen kunnen na het opslaan bewerkt worden via") }}&nbsp; link.
    </div>
    {{ label }} {{ text }}
</div>
